{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}");
</script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
</head>

<body>
    <h2>로그인</h2>
    <!-- action 주소 바꿔야함 -->
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="로그인">
    </form>

    <form action="/register" method="post">
        <input type="submit" value="회원가입">
    </form>

</body>

</html>