{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}");
</script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
</head>

<body>
    <h2>회원가입</h2>
    <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <label for="number">Number:</label>
        <input type="number" name="number" required><br><br>

        <input type="submit" value="회원가입">
    </form>

</body>

</html>